# requirements.txt
# --find-links tells pip where to look for the PyTorch wheels
--find-links https://download.pytorch.org/whl/torch_stable.html

# Core ML Libraries (PyTorch)
torch>=1.13.1
torchvision>=0.14.1
torchaudio>=0.13.1
timm==0.9.12
scikit-learn==1.4.1.post1

# Data & Utilities
#gdown==4.6.4
huggingface_hub
numpy==1.26.4
pandas==2.2.1
matplotlib==3.7.1
seaborn==0.13.2
tqdm==4.66.2
python-box==6.0.2 
PyYAML==6.0
ensure==1.0.2
opencv-python-headless==4.9.0.80
grad-cam

# ONNX — Edge AI / Android deployment
onnx>=1.14.0
onnxruntime>=1.16.0

# Web App & Server
fastapi
uvicorn
python-multipart

# Testing
pytest==7.4.0
ipykernel==6.25.2
pytest-cov==4.1.0